<div class="container">

      <div class="starter-template">
        <h1>Hello Skills</h1>
        <p class="lead">The Ultimate Dance Class Finder</p>
        <a href="#/register" class="btn btn-primary btn-lg" role="button"> Get Started Now</a>
      </div>

      <div class="row">
		<div class="col-md-4">
			<h2> Zumba Time </h2>
			<p> Zumba in Bondi, First Class free</p>
		</div>
		<div class="col-md-4">
			<h2>Boxercising</h2>
			<p>Get stronger and fitter Now</p>
		</div>
		<div class="col-md-4">
			<h2>Krav Maga</h2>
			<p>Learn to self Defense in Surry Hills.</p>

		</div>
	  </div>

</div><!-- /.container -->
