<form ng-submit="saveStudio()" class="form-inline studio-form">
     <div class="form-group">
        <label class="sr-only" for="partyName">Studio Name</label>
        <input ng-model="newStudio.studioname" type="text" class="form-control" id="examplestudioName" placeholder="Name">
     </div>
     <div class="form-group">
        <label class="sr-only" for="StudioEmail">Studio Email</label>
         <input ng-model="newStudio.email" type="text" class="form-control" id="StudioEmail" placeholder="Studio Email">
    </div>
    <div class="form-group">
        <label class="sr-only" for="PhoneNo">Studio Phone</label>
        <input ng-model="newStudio.phone" type="text" class="form-control" id="StudioPhone" placeholder="Studio Phone">
    </div>
    <div class="form-group">
        <label class="sr-only" for="Location">Studio Location</label>
        <input ng-model="newStudio.location" type="text" class="form-control" id="StudioLocation" placeholder="Studio Location"
    </div>
     <button type="submit" class="btn btn-primary">Add Studio</button>
</form>
    
    <br>
    <br>
    <br>
    <br>
    
    
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th> Studio Name</th>
            <th> Studio Email</th>
            <th> Studio Phone</th>
        </tr>
    </thead>
    <tr ng-repeat="studio in allstudios">
        <td>
            {{studio.name}}
        </td>
        <td>
            {{studio.email}}
        </td>
        <td>   
            {{studio.phone}}
        </td>
    </tr>
    
</table>
<!--<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Studio Name</th>
      <th>Studio Email</th>
      <th>Studio Phone</th>
      <th>Studio Location</th>
    </tr>  
  </thead>
  <tr ng-repeat="party in parties | orderByPriority">
    <td><input type="checkbox" ng-model="party.done" ng-change="parties.$save(party.$id)"></td>
    <td>
      <div><strong>{{party.name}} ({{party.size}} people) </strong></div>
      <div>{{party.phone}}</div>
      <div> 
       <!-- TODO: Add date created
      </div>
    </td>
    <td>
      <div>
        {{party.notified}}
      </div>
    </td>
    <td>
     <!-- <button ng-click="sendTextMessage(party)" type="submit" class="btn btn-success">Send SMS</button> 
      <button ng-click="parties.$remove(party.$id)" type="submit" class="btn btn-danger">Remove</button>

    </td>

  </tr>
</table> -->

    



<form  ng-submit="saveClass()" class="form-inline party-form">
    
  <div class="form-group">
    <label class="sr-only" for="className">Class Name</label>
    <input ng-model="newClass.name" type="text" class="form-control" id="exampleInputEmail2" placeholder="Name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="InstructorName">Instructor Name</label>
    <input ng-model="newClass.inName" type="text" class="form-control" id="InStructorName" placeholder="Instructor Name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="timeOfClass">Start of Class</label>
    <input ng-model="newClass.timeOfClass" type="text" class="form-control" id="StartOfClass" placeholder="Time of Class">
  </div>
    <div class="form-group">
        <label class="sr-only" for="endOfClass">End Of Class</label>
        <input ng-model="newClass.EndOfClass" type="text" class="form-control" id="EndOfClass" placeholder="End of Class">
    </div>
    <div class="form-group">
        <label class="sr-only" for="DateOfClass">Date of Class</label>
        <input ng-model="newClass.DayfClass" type="text" class="form-control" id="DateOfClass" placeholder="Day of Class">
    </div>
    <div class="form-group">
        <label class="sr-only" for="DescOfClass">Description of Class</label>
        <input ng-model="newClass.DescOfClass" type="text" class="form-control" id="DescOfClass" placeholder="Desc of Class">
    </div>
    <div class="form-group">
        <label class="sr-only" for="DanceType"> Dance of Type</label>
        <input ng-model="newClass.DanceType" type="text" class="form-control" id="DanceType" placeholder="Dance of Class"> 
    </div>
    
    <div class="form-group">
        <label class="sr-only" for="DanceLevel"> Dance Level</label>
        <input ng-model="newClass.DanceLevel" type="text" class="form-control" id="DanceLevel" placeholder="Dance Class Level">
    </div>
    <div class="form-group">
        <label class="sr-only" for="DancePrice"> Dance Price</label>
        <input ng-model="newClass.DancePrice" type="text" class="form-control" id="DancePrice" placeholder="Dance class Price"
    </div>
    <div>
        
    </div>    
        
  <button type="submit" class="btn btn-primary">Add Class</button>
</form>

<!--<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Done?</th>
      <th>Information</th>
      <th>Notified?</th>
      <th>Actions</th>
    </tr>  
  </thead>
  <tr ng-repeat="party in parties | orderByPriority">
    <td><input type="checkbox" ng-model="party.done" ng-change="parties.$save(party.$id)"></td>
    <td>
      <div><strong>{{party.name}} ({{party.size}} people) </strong></div>
      <div>{{party.phone}}</div>
      <div> 
       <!-- TODO: Add date created 
      </div>
    </td>
    <td>
      <div>
        {{party.notified}}
      </div>
    </td>
    <td>
     <!-- <button ng-click="sendTextMessage(party)" type="submit" class="btn btn-success">Send SMS</button> 
      <button ng-click="parties.$remove(party.$id)" type="submit" class="btn btn-danger">Remove</button>

    </td>

  </tr>
</table> -->
